body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
    background-color: rgb(106, 106, 106);

}

.nav-link:hover {
    color: #0056b3;
}

.carousel-item img {
    width: 100%; /* Ensures width is 100% */
    height: 520px; /* Fixed height of 500px */
    object-fit: cover; /* Ensures the image covers the container without stretching */
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff00;
    box-shadow: 0 2px 5px rgba(0,0,0,0);
    height: auto;
    width: fit-content;
}


.movies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.movie {
    background-color: #ddd;
    padding: 10px;
    border-radius: 8px;
}

.movie img {
    width: 225px;
    height: 250px;
    border-radius: 5px;
    place-items: center;
}

.movie-title {
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
    color: #000;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 60px; /* Adjust the height of the footer */
    background-color: gray;
}

.footer a {
    color: #000;
    margin: 0 10px;
    font-size: 24px;
}

.footer a:hover {
    color: rgb(0, 0, 0);
}
.footer.bg-gray {
    background-color: #f8f9fa; /* Light gray background, adjust the color as needed */
}

.footer a {
    color: #000; /* Example color for icons */
    margin: 0 10px; /* Adds horizontal space between icons */
}

.footer a:hover {
    color: #555; /* Darker gray on hover for visual feedback */
}

